<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <header>
      <h1>Drive of Holding</h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <!-- <li><a href="/logout">Log out</a></li> -->
          <li>
            <form action="/logout" method="post">
              <button
                type="submit"
                style="
                  background: none;
                  border: none;
                  color: blue;
                  text-decoration: underline;
                  cursor: pointer;
                "
              >
                Log out
              </button>
            </form>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="main-header">
        <h2>Welcome, <%=user.firstname %></h2>

        <div class="create-controls">
          <button>Create Folder</button>
          <button>Upload File</button>
        </div>
      </section>
      <section class="items-container">
        <% if(!items){ %>
        <div class="">
          <h3>You current have no files or folders!</h3>
        </div>
        <%} else {%>
        <table>
          <thead>
            <th>Name</th>
            <th>Size</th>
            <th>Date Created</th>
            <th>Share</th>
          </thead>
          <tbody>
            <%items.forEach( (item) => { %>
            <tr>
              <td>item.name</td>
              <td>item.uploadTime</td>
              <td>item.size</td>
              <td><button>Share</button></td>
            </tr>

            <% }) %>
          </tbody>
        </table>

        <% }%>
      </section>
    </main>
  </body>
</html>
