<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drive of Holding</title>

    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/homepage.css" />
  </head>
  <body>
    <header>
      <div class="logo-holder">
        <img class="logo" src="/images/logo.svg" alt="" />
        <h1 class="logo-text">Drive of Holding</h1>
      </div>

      <nav>
        <ul>
          <li><a href="/login" class="button login">Log in</a></li>
          <li><a href="/signup" class="button signup">Sign up</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <div class="logo-holder">
          <img class="logo logo-main" src="/images/logo-text.svg" alt="" />
        </div>
        <h1>Save and Share Files Online</h1>

        <div class="main-btns">
          <a href="/signup" class="button signup">Sign up</a>
          <a href="/login" class="button login">Log in</a>
        </div>
      </section>
    </main>
  </body>
</html>
