<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drive of Holding</title>

    <link rel="stylesheet" href="/styles/nav.css" />
  </head>
  <body>
    <header>
      <div>
        <!-- <img src="/images/logo.svg" alt="" /> -->
        <h1>Drive of Holding</h1>
      </div>

      <nav>
        <ul>
          <li><a href="/login" class="button login">Log in</a></li>
          <li><a href="/signup" class="button signup">Sign up</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>This will be where we talk about what it does!</section>
    </main>
  </body>
</html>
