<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DoH - Log in</title>
  </head>
  <body>
    <header>
      <h1>Drive of Holding</h1>

      <nav>
        <ul>
          <li><a href="">Sign up</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <% if(errors && errors.length >0){
      <ul style="color: red">
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <%}); %>
      </ul>
      <%}%>

      <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />

        <button type="submit">Log in</button>
      </form>
    </main>
  </body>
</html>
