<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DoH - Sign up</title>
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/signup.css" />
  </head>
  <body>
    <header>
      <div class="logo-holder">
        <img class="logo" src="/images/logo.svg" alt="" />
        <h1 class="logo-text">Drive of Holding</h1>
      </div>

      <nav>
        <ul>
          <li><a href="/" class="button signup">Home</a></li>
          <li><a href="/login" class="button login">Log in</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="error-container">
        <% if( errors && errors.length){ %>
        <ul class="error-ul" style="color: red">
          <% errors.forEach(error => { %>
          <li><%=error.msg %></li>
          <% }); %>
        </ul>
        <% } %>
      </div>

      <form class="signup-form" action="/signup" method="post">
        <h2>Create an account here!</h2>

        <label for="firstname">First name:</label>
        <input
          type="text"
          name="firstname"
          id="firstname"
          value=" <%= formInfo.firstname || '' %>"
        />

        <label for="lastname">Last name:</label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          value="<%= formInfo.lastname || '' %>"
        />

        <label for="username">Email:</label>
        <input
          type="email"
          id="username"
          name="username"
          value="<%= formInfo.username || '' %>"
        />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" />

        <button class="signup-btn" type="submit">Sign up</button>
      </form>
    </main>
  </body>
</html>
