body,
html {
  height: 100%;
  margin: 0;
}

main {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5rem 3rem;
  border: 2px solid #e2e8f0;
  border-radius: 5px;
  margin-top: 4rem;
  background-color: #e6f4f1;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

input {
  padding: 0.5rem;
}

input:focus {
  outline: none;
  border: 2px solid #0d9488;
  border-radius: 5px;
}

.copy-btn {
  font-size: 1rem;
  color: #e6f4f1;
  background-color: #0d9488;
  border-radius: 5px;
  border: 1px solid #e6f4f1;
  padding: 0.8rem 1.5rem;
  margin: 0 1rem;
}

.copy-btn:hover {
  background-color: #e6f4f1;
  border-color: #0d9488;
  color: #0d9488;
  font-weight: bold;
}
