html,
body,
main {
  width: 100%;
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form {
  width: 30%;
  min-width: 300px;
  min-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #e2e8f0;
  border-radius: 5px;
  margin-top: 4rem;
  background-color: #e6f4f1;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

label {
  font-size: 1.3rem;
  font-weight: bold;
  color: #0d9488;
  padding: 1rem;
}

input {
  padding: 0.5rem;
}

input:focus {
  outline: none;
  border: 2px solid #0d9488;
  border-radius: 5px;
}

.signup-btn {
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #0d9488;
  padding: 0.9rem 1rem;
  margin: 1rem 1rem;
  background-color: white;
  color: #0d9488;
  font-weight: bold;
}

.signup-btn:hover {
  background-color: #e2e8f0;
}

.error-ul {
  margin-top: 2rem;
  padding: 0;
  text-align: center;
}

/* --color-primary:        #0D9488;   
  --color-primary-hover:  #0F766E;   
  --color-primary-light:  #E6F4F1;   

  --color-bg:             #F8FAFC;   
  --color-surface:        #FFFFFF;
  --color-border:         #E2E8F0;   

   Text 
  --color-text:           #1E293B;   
  --color-text-muted:     #64748B;   

   Feedback 
  --color-success:        #10B981;   
  --color-error:          #EF4444;   
  --color-warning:        #F59E0B;   

  Neutrals 
  --color-gray-100:       #F1F5F9;   
  --color-gray-200:       #E2E8F0;    */
